@import "../../../styles/config/colors"


.header_transparent
  z-index: 10
  background: transparent
  position: relative

  .header-logo
    .icon-path
      fill: white

  .header-menu
    border-right: none

    .icon-path
      fill: white

  .header-link
    border-color: white

    .icon-path
      fill: white


.header-menu
  padding: 30px 33px
  font-size: 20px
  line-height: 40px
  color: #d8d8d8
  border-right: 2px solid #f5f5f5

.header-logo
  color: #4d4d4d
  height: 89px
  margin: 0 30px
  display: flex
  align-items: center

.header-link
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  justify-items: center
  border-radius: 50%
  border: 2px solid #f5f5f5
  width: 40px
  color: #d8d8d8
  height: 40px
  transition: all 200ms ease-in

  .icon-path
    transition: all 200ms ease-in

  &:hover
    border-color: $color-active
    color: $color-active

    .icon-path
      fill: $color-active

.header-item
  margin-left: 10px
  display: inline-block
