@import "../../styles/config/colors"

.articlefooter
  display: flex
  width: 1110px
  margin: 0 auto 30px
  padding: 30px 0 0
  background-color: white
  justify-content: flex-start
  flex-direction: column
  &-item
    width: 33%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    &:last-child
      justify-content: flex-end
  &-top
    border-top: 2px solid #f5f5f5
    border-bottom: 2px solid #f5f5f5
    padding: 30px 65px
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
  &-bottom
    padding: 45px 65px
    display: flex
    justify-content: space-between
    align-items: center

  .articlefooter-author
    display: flex
    flex-direction: row
    font-family: 'Robot', sans-serif
    justify-content: flex-start
    img
      width: 50px
      height: 50px
      border-radius: 50%
      object-fit: cover
    .articlefooter-info
      display: block
      margin-left: 24px
      flex-direction: column
    .articlefooter-name
      font-size: 14px
      color: #808080
      line-height: 25px
    .articlefooter-position
      font-size: 12px
      line-height: 25px
      color: #B3B3B3

.articlefooter-tags
  display: flex
  align-items: center
  align-content: space-around
  flex-flow: row wrap

.articlefooter-share
  display: flex
  align-items: center
  margin-left: 25px

.articlefooter-social
  color: #d8d8d8
  cursor: pointer
  margin-right: 10px
  padding-top: 5px
  .icon:hover path
    fill: $color-active

.articlefooter-count
  font-size: 14px
  text-align: center
  vertical-align: middle
  background-color: #ffffff
  color: #d8d8d8
  border-radius: 5px
  border: 2px solid #f5f5f5
  height: 30px
  font-family: "Roboto", sans-serif
  width: 35px
  line-height: 30px
  font-weight: 700
  &:after
    background-color: #ffffff
    border-left: 2px solid #f5f5f5
    border-bottom: 2px solid #f5f5f5
    content: "\00a0"
    display: block
    height: 7px
    left: -6px
    position: relative
    top: -19px
    transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    width: 7px

@media only screen and (max-width: 1024px)
  .articlefooter
    display: flex
    flex-direction: column
    width: 100%
    margin: 0 auto 30px
    padding: 30px 0 0
    background-color: white
    justify-content: flex-start
    &-item
      order: 2
      width: 100%
      display: flex
      margin-top: 20px
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between
      &:first-child
        order: 0
        width: 50%
        margin-top: 0
      &:last-child
        margin-top: 0
        order: 1
        width: 50%
        justify-content: flex-end
    &-top
      padding: 30px 20px
    &-bottom
      padding: 30px 20px
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column

@media only screen and (max-width: 1024px)
  .articlefooter-tags
    margin-bottom: 25px
