
.preload-image {
    position: relative;
    overflow: hidden;
}


.preload-image picture {
    width: 100%;
    height: 100%;
}

.preload-image picture {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    transition: opacity linear 500ms;
}


.preload-image img {
    width: 100%;
    height: 100%;
}

.preload-image img.preload {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    transition: opacity linear 500ms;
}

.preload-image._loaded::before {
    opacity: 0;
}

.preload-image._loaded img.preload {
    opacity: 0;
}

.image-test {
    text-align: center;
}

.image-test input {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.custom-image {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 15px #000;
}
