.sidebar
  width: 220px
  height: calc(100vh - 90px)
  position: absolute
  background: #fff
  z-index: 999
  top: 90px
  left: 0
  transform: translateX(-100%)
  transition: all .3s ease-out
  &_open
    transform: translateX(0)

.sidebar-list
  margin: 0
  padding: 30px
  list-style: none

.sidebar-text
  padding: 15px 25px 12px
  font-family: 'Roboto', sans-serif
  &:first-child
    padding-top: 0

.sidebar-link
  font-size: 18px
  color: #666
  text-decoration: none

