{% load  martortags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#212121">
    <meta name="google-site-verification" content="rbTysRiI9clKIGMKgjFAELNW3FSTp--Q3L3BEEp0QI4"/>
    <link rel="canonical" href="https://lambda-it.ru"/>

    <title>{{ article.title }}|Lambda</title>
    <meta name="description" content="{{ article.seo_description }}">
    <meta name="keywords" content="{{ article.keywords }}"/>


    <meta property="og:locale" content="ru_RU" data-react-helmet="true">
    <meta property="og:type" content="article" data-react-helmet="true">
    <meta property="og:title" content="{{ article.title }}" data-react-helmet="true">
    <meta property="og:description" content="{{ article.seo_description }}" data-react-helmet="true">
    <meta property="og:image" content="https://lambda-it.ru/media/{{ article.image }}" data-react-helmet="true">
    <meta property="og:url" content="https://lambda-it.ru/post/{{ article.slug }}" data-react-helmet="true">
    <meta property="og:site_name" content="Lambda" data-react-helmet="true">

    <meta name="twitter:card" content="summary" data-react-helmet="true">
    <meta name="twitter:site" content="Lambda" data-react-helmet="true">
    <meta name="twitter:title" content="{{ article.title }}" data-react-helmet="true">
    <meta name="twitter:description" content="{{ article.seo_description }}" data-react-helmet="true">
    <meta name="twitter:image" content="https://lambda-it.ru/media/{{ article.image }}" data-react-helmet="true">

    <meta itemprop="name" content="{{ article.title }}" data-react-helmet="true">
    <meta itemprop="description" content="{{ article.seo_description }}" data-react-helmet="true">
    <meta itemprop="image" content="https://lambda-it.ru/media/{{ article.image }}" data-react-helmet="true">
    <style>
        img {
            max-width: 100%;
            height: auto;
            display: block
        }
    </style>
</head>
<body>
<h1>{{ article.title }}</h1>
{{ article.description | safe_markdown }}
</body>
</html>