.card_medium
  grid-template-columns: 1fr
  grid-template-areas: 'heading' 'body' 'footer'
  grid-template-rows: 180px auto 60px
  grid-row: span 2

  & .card-head
    height: 180px

  & .card-thumbnail
    height: 180px
    img
      border-radius: 0
      border-top-left-radius: 5px
      border-top-right-radius: 5px

  & .card-body
    padding: 20px
    & .card-description
      display: none

  & .card-title span
    text-align: left
    line-height: 1.25
    color: #666
    font-size: 16px
    font-weight: 500

  & .card-footer
    border-top: 2px solid rgba(247, 247, 247, 1)
    padding: 20px 30px
    display: flex
    justify-content: space-between
    & .card-author
      display: none
    & .card-views
      color: #b3b3b3
    & .card-comments
      display: none


