.feed-list
  margin: 0 auto
  display: grid
  grid-column-gap: 30px
  grid-row-gap: 30px
  color: #444
  max-width: 1110px
  grid-auto-flow: dense
  grid-template-columns: repeat(4, 255px)
  grid-template-rows: 150px 150px 150px
  grid-auto-rows: minmax(150px, auto)

.feed-list_column_4
  grid-template-columns: repeat(4, 255px)

@media only screen and (max-width: 1024px)
  .feed-list
    padding: 0 15px
    max-width: 100%
    grid-template-columns: calc(50% - 15px) calc(50% - 15px)

@media only screen and (max-width: 480px)
  .feed-list
    display: flex
    flex-direction: column
    padding: 0 15px

