.articleheader
  background-position: center
  width: 1110px
  margin: 20px auto 0
  border-radius: 6px 6px 0 0
  background-repeat: no-repeat
  background-size: cover

.articleheader-tools
  grid-area: tools

.articleheader-title
  grid-area: title
  font-size: 36px
  color: #fff
  font-weight: 300
  padding: 0
  margin: 0

.articleheader-tag
  z-index: 10
  grid-area: tag
  color: #fff
  border-radius: 4px
  background-color: red
  text-transform: uppercase
  display: flex
  align-self: center
  font-weight: 900
  box-sizing: border-box
  letter-spacing: 1.5px
  font-size: 12px
  padding: 9px 18px
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  width: fit-content
  height: fit-content

.articleheader-main
  grid-area: head
  display: grid
  grid-template-rows: 30px auto 30px
  grid-template-columns: 160px auto
  grid-template-areas: "tag date" "title title"
  grid-row-gap: 30px
  border-radius: 6px 6px 0 0

.articleheader-line
  border-top: 2px solid transparent
  width: 100px
  margin-top: 28px

.articleheader-item
  color: white
  font-family: 'Roboto', sans-serif
  margin-right: 19px
  display: flex
  align-items: center
  font-size: 14px
  font-weight: 500
  & .icon
    font-size: 20px
    line-height: 20px

.articleheader-value
  margin-left: 10px

.articleheader-info
  grid-area: info
  display: flex
  align-items: center
  justify-content: flex-start

.articleheader-date
  grid-area: date
  display: flex
  align-items: center
  color: white
  font-size: 14px
  font-weight: 500

.articleheader-content
  display: grid
  border-radius: 6px 6px 0 0
  padding: 95px
  grid-template-columns: auto 260px
  grid-template-rows: auto 40px
  grid-column-gap: 30px
  grid-row-gap: 60px
  grid-template-areas: "head tools" "info info"
  font-family: 'Roboto', sans-serif
  background-color: rgba(51, 51, 51, .5)
  .articleheader-tools
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between
  .articleheader-info
    .icon-path
      fill: #ffffff

@media only screen and (max-width: 1024px)
  .articleheader
    width: 100%
    border-radius: 0

@media only screen and (max-width: 1024px)
  .articleheader-content
    display: grid
    border-radius: 6px 6px 0 0
    padding: 35px 10px
    grid-template-columns: auto 260px
    grid-template-rows: auto auto 40px
    grid-column-gap: 30px
    grid-row-gap: 20px
    grid-template-areas: "tools tools" "head head" "info info"
    font-family: 'Roboto', sans-serif
    background-color: rgba(51, 51, 51, .5)
    & .articleheader-tools
      flex-direction: row
    & .articleheader-title
      font-size: 26px
    & .articleheader-info
      & .articleheader-item:last-child
        margin-right: 0
