.card
  display: grid
  grid-column-gap: 3vw
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1)
  border-radius: 6px
  position: relative
  font-family: 'Roboto', sans-serif
  background: white
  transition: all .1s ease-out
  text-decoration: none

.card-thumbnail
  grid-area: image
  border-radius: 5px
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

.card-thumbnail picture
  height: 100%

.card-thumbnail img
  width: 100%
  height: 100%
  border-radius: 5px
  object-fit: cover

.card-tag
  z-index: 10
  grid-area: tag
  color: #fff
  border-radius: 4px
  background-color: red
  padding: 6px 12px
  font-size: 10px
  text-transform: uppercase
  display: flex
  position: absolute
  margin-top: 20px
  margin-left: 20px
  font-weight: 900
  letter-spacing: 1.25px

.card-title
  font-weight: 500
  line-height: 1.35
  z-index: 2
  font-family: 'Roboto', sans-serif
  text-decoration: none

.card-title span
  text-align: center
  display: block
  padding-bottom: .5em

.card-author
  font-size: 14px
  color: white
  font-weight: 500
  line-height: 27px

.card-date
  font-size: 12px

  font-weight: 500
  color: #b3b3b3

.card-views
  color: white
  font-size: 12px
  height: 20px
  font-weight: 500
  .icon
    font-size: 22px
    line-height: 20px
    margin-right: 5px

@media only screen and (max-width: 1024px)
  .card
    margin-bottom: 20px

@media only screen and (max-width: 480px)
  .card
    margin-bottom: 20px

