.articlecontent_text
  background: white
  padding: 15px 190px
  margin: 0
  font-family: 'Roboto', sans-serif
  h2, h1
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 34px
    font-weight: 300
    color: #666666
  h3
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 34px
    font-weight: 300
    color: #666666
  h4
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 18px
    font-weight: 300
    color: #666666
  p
    font-size: 16px
    color: #666666
    line-height: 1.58
  a
    color: #1875f0
    &:hover
      color: red
  img
    max-width: 100%
    height: auto
    display: block
    margin: 15px auto

@media only screen and (max-width: 1024px)
  .articlecontent_text
    background: white
    padding: 15px 15px
    margin: 0
    h2
      margin: 0
      padding: 15px 0
      font-size: 24px
    h3
      padding: 15px 0
      font-size: 24px
    h4
      padding: 15px 0
      font-size: 18px
