.button
  cursor: pointer
  outline: none

.button-text
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 1.5px
  font-family: 'Roboto', sans-serif
  font-weight: 700

.button_icon_align_right
  display: flex
  align-items: center
  align-content: center
  flex-direction: row-reverse

.button_icon_align_left
  display: flex
  align-items: center
  align-content: center
  flex-direction: row

.button_type_ghost
  background: none
  border: none
  color: #B3B3B3
  transition: color 200ms
  transition-timing-function: ease-out
  .icon
    font-size: 16px
  &:hover
    color: #1875F0
    .icon-path
      fill: #1875F0

  &:outline
    border: none
  &:focus
    border: none

.button_type_label
  display: inline-block
  border: none
  color: #B3B3B3
  border-radius: 4px
  background-color: #f7f7f7
  padding: 10px 15px
  margin-right: 10px
  margin-top: 5px
  margin-bottom: 5px
  transition: all 200ms
  transition-timing-function: ease-out

  &:hover
    color: #1875F0
    background: none

  &:outline
    border: none
  &:focus
    border: none

.button_type_circle
  border-radius: 50%
  color: white
  padding: 20px
  text-align: center
  text-decoration: none
  background: rgba(0, 0, 0, 0.3)
  line-height: 14px
  font-size: 22px
  display: inline-block
  border: none
  transition: background 200ms
  &:hover
    background: rgba(0, 0, 0, 0.7)
  &:focus
    outline: none
  &:active
    outline: none

.button_color_white
  background: white
  border: solid 2px
  color: #D8D8D8
  transition: background color border-color 200ms easy-out
  border-color: #F5F5F5
  &:hover
    background: #0275d8
    border-color: #0275d8
    .icon-path
      fill: white